<div class="row">
	<table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
     <td><%= link_to 'Download', "https://www.udemy.com/new-lecture/view/?data=SlFCJUxYRHwEQBl2QkAFLVYWdCIBDBMlVlERYw0WVzE=", method: :get, :class=>"btn btn-lg btn-default btn-block" %></td>
    </tbody>
  </table>
</div>